.body {
    padding: 0px;
    margin: 0px;
}

#heading {
    padding: 3%;
    background-color: lightcyan;
}

.navbar {
    padding-left: 80px;
    padding-top: 100px;
    font-family: 'Alfa Slab One';
    width: 100%;
    position: fixed;
}

.navbar-brand {
    color: silver;
    padding-left: 40px;
}

.link {
    color: silver;
    padding-left: 25px;
    right: 25px;
}

.link:hover {
    color: gold;
    text-decoration: none;
}

.ml-auto {
    margin-right: 45px;
}

.row {
    font-family: 'Saira Stencil One';
    color: silver;
    font-weight:900;
    text-align: center;
    padding-top: 50px;
}

.head-section {
    padding-top: 50px;
}

.heading-software {
    padding-right: 25px;
    font-size: 60px;
    display: inline;
}

.heading-paragraph {
    font-size: 30px;
    padding-left: 30px;
}

.personal-photo {
    height: 300px;
    width: 300px;
    border: 5px solid;
    position: relative;
}

.picture-section {
    padding-top: 30px;
}

.mid-row {
    padding: 7%;
    color: black;
}

.mid-section {
    margin-bottom: 25px;
}

.horizontal {
    border-top: dotted;
    border-width: 15px;
    width: 5%;
    color: silver;
    margin-top: 125px;
}

.icon-address {
    color: black;
    text-decoration: none;
}
.fas {
    padding: 2%;
}

.resume-row {
    color: black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 55px;
    padding-top: 10px;
}

.resume-row:hover {
    background-color:lightcyan;
}

.mid-heading {
    padding-top: 25px;
    font-family: 'Lobster';
}

.mid-row-section {
    padding: 20px;
}

.mid-row-section:hover {
    background-color: lightcyan;
}

.mid-paragraph {
    padding-top: 10px;
    font-family: 'Merriweather';
}

.border-r {
    border-right: solid;
    border-color: silver;
}

.second-horizontal {
    border-top: dotted;
    border-width: 15px;
    width: 5%;
    color: silver;
    margin-bottom: 125px;
}

#footer-section {
    background-color: lightcyan;
}

.abdullah-logo {
    padding: 2%;
    width: 10.5rem;
}

.copyright-paragraph {
    margin-top: 20px;
}

.footer-social {
    height: 35px;
    width: 35px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
}

.footer-social:hover {
    background-color: grey;
}

.low-row {
    padding-top: 25px;
    text-align: center;
}

.footer-icon {
    margin-top: 50px;
    text-align: center;
}

.copyright-paragraph {
    color: silver;
    font-family: 'Alfa Slab One';
    font-size: 15px;
}

@media (max-width: 750px) {
    .ml-auto {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: block;
        margin-right: 0px;
    }

    .navbar-brand-section {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

@media (max-width: 625px) {
    .horizontal {
        color: white;
    }
}

@media (max-width: 698px) {
    .ml-auto {
        margin-right: 0px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}
@media (max-width: 594px) {
    .software-engineer-section {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

@media (max-width: 576px){
    .border-r {
        border-right: solid;
        border-color: white;
    }
}
