.body {
    background-color: white;
}

#heading {
    padding: 3%;
    background-color: lightcyan;
}

.programming-section {
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 3%;
}

.programming-heading {
    padding-bottom: 20px;
    font-family: 'Lobster';
    color: grey;
}

.programming-paragraph-list {
    padding-top: 20px;
    font-family: 'Merriweather';
}

.programming-paragraph {
    font-family: 'Merriweather';
}

.last-programming-paragraph {
    padding-top: 20px;
    font-family: 'Merriweather';
}

.programming-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 25%;
    padding-top: 25px;
    width: 18.3125rem;
    height: 18.75rem;
}

.hockey-section {
    padding-left: 7%;
    padding-right: 7%;
}

.hockey-heading {
    font-family: 'Lobster';
    padding-bottom: 15px;
    color:grey
}

.hockey-paragraph {
    font-family: 'Merriweather';
}

.toronto-celly-image {
    border: 5px solid silver;
    margin-left: auto;
    margin-right: auto;
    height: 18.75rem;
    width: 25rem;
    display: block;
    margin-top: 25px;
}

.chess-section {
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 75px;
}

.chess-row-last {
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

.chess-heading {
    margin-left: -2px;
    font-family: 'Lobster';
    color: grey;
}

.chess-title {
    padding-top: 25px;
    font-family: 'Lobster';
    text-align: center;
    color: blue;
}

.chess-paragraph-first {
    font-family: 'Merriweather';
    padding-top: 15px;

}

.chess-paragraph {
    font-family: 'Merriweather';
    padding-top: 15px;
    text-align: center;
    color: skyblue;
}

.chess-video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.upper-row {
    padding-top: 30px;
}

@media (max-width: 991px) {
    .chess-row-second {
        padding-top: 50px;
    }    
}